@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
  font-family: "poppins","regular";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
 --nkt:white;
}


/* Logo style */
.logo{
  width: 10.25rem;
}
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
  color: var(--nkt)
}
.navbar-nav > li > a{
  text-transform: uppercase;
  font-family: "poppins";
  margin-left: 0.75rem;
  margin-right: 00.75rem;
  border-top: rgb(255, 255, 255, 0) 0.1875rem solid;
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0;
  
}
.navbar-nav > li > a.active, .navbar-nav > li > a:active.focus{
  border-top: orange 0.1875rem solid;
}
.navbar-nav > li > a:hover{
  border-top: orange 0.1875rem solid;
}
/* a.active{
  
  border-top: orange 0.1875rem solid;
} */
/* nav ul li a :focus{
  border-top: orange 0.1875rem solid;
} */
